@font-face {
  font-family: GenshinFont;
  src: url(ja-jp.ttf);
}
body{
  background-image: url("/images/goodhunter.jpg");
  background-size: cover;
  font-family: GenshinFont;
  color: white;
}

header, section, footer{
  text-align: center;
  background-color: #ECE5D8;
  padding: 10px;
  color: #3B4255;
}

header h1 {
  margin-bottom: 10px;
  font-size: 40px;
}

h1, h2, p {
  text-align: center;
  margin-top: 0;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  margin-bottom: 5px;
  width: 50px;
}

section h2{
  margin-top: 0;
  font-size: 30px;
}

.menu{
  background-color: #2B3542;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.header-line{
  background-color: #ECE5D8;
  height: 2px;
  border-color: #ECE5D8;
}

.item p {
  display: inline-block;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.food, .recipe{
  text-align: left;
  width: 75%;
}

.price{
  text-align: right;
  width: 25%;
}

/* Footer */

footer{
  font-size: 14px;
}

.last-statement{
  margin-bottom: 5px;
}

a:visited {
  color: #3B4255;
}

a:hover {
  color: #48729C;
}

a:active {
  color: #3B4255;
}